body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 40%;
}

h2 {
  text-align: center;
  font-family: cubano, sans-serif;
  font-weight: 400;
  color: white;
  font-size: 10vw;
	text-shadow: -0.04em 0.04em 0 #000,
				  0.04em 0.04em 0 #000,
				 0.04em -0.04em 0 #000,
				-0.04em -0.04em 0 #000;
}

h3 {
  text-align: center;
  color: white;
  font-size: 0.8vw;
	text-shadow: -0.04em 0.04em 0 #000,
				  0.04em 0.04em 0 #000,
				 0.04em -0.04em 0 #000,
				-0.04em -0.04em 0 #000;
}

pre {
  text-align: center;
  color: white;
  font-weight: 100;
	text-shadow: -0.04em 0.04em 0 #000,
				  0.04em 0.04em 0 #000,
				 0.04em -0.04em 0 #000,
				-0.04em -0.04em 0 #000;
}

.bannercontainer {
  display: flex;
  justify-content: space-between;
}

.rocketcontainer {
  display: flex;
  justify-content: space-evenly;
}

.cloudcontainer {
  display: flex;
  justify-content: flex-start;
}


.moon {
  text-align: right;
  color: white;
  font-size: 0.7vw;
	text-shadow: -0.04em 0.04em 0 #000,
				  0.04em 0.04em 0 #000,
				 0.04em -0.04em 0 #000,
				-0.04em -0.04em 0 #000;
}
.village {
  text-align: left;
  color: white;
  font-size: 0.8vw;
  line-height: 100%;
	text-shadow: -0.04em 0.04em 0 #000,
				  0.04em 0.04em 0 #000,
				 0.04em -0.04em 0 #000,
				-0.04em -0.04em 0 #000;
}
.asciiworldbanner {
  text-align: center;
  color: white;
  font-size: 1vw;
  line-height: 100%;
	text-shadow: -0.04em 0.04em 0 #000,
				  0.04em 0.04em 0 #000,
				 0.04em -0.04em 0 #000,
				-0.04em -0.04em 0 #000;
}

.star {
  text-align: center;
  width: 220px;
  height: 220px;
  color: white;
  font-size: 0.6vw;
  line-height: 100%;
	text-shadow: -0.04em 0.04em 0 #000,
				  0.04em 0.04em 0 #000,
				 0.04em -0.04em 0 #000,
				-0.04em -0.04em 0 #000;
}


